@font-face {
    font-family: "yanone";
    src: url("fonts/yanone.ttf");
}

@font-face {
    font-family: "finger";
    src: url("fonts/finger.ttf");
}


/*General*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "yanone", Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: url(../img/pattern.png);
    background-attachment: fixed;
}

.clearfix {
    float: none;
    clear: both;
}


/*Navigation / Header*/

header {
    display: block;
    width: 100%;
    height: 90px;
    background: rgba(73, 129, 197, 0.8);
    position: fixed;
    text-transform: uppercase;
}

header ul {
    display: block;
    width: 45%;
    height: inherit;
    margin: 0px auto;
    margin-top: -3px;
}

header ul li {
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    line-height: 87px;
}

header a {
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    height: inherit;
    text-decoration: none;
    color: wheat;
    transition: all 300ms;
}

header a:hover,
.actived {
    background: rgba(0, 0, 0, 0.705);
}


/*Logo*/

#logo {
    font-family: "finger";
    font-size: 30px;
}

#logo a {
    transition: color 500ms, transform 500ms;
}

#logo a:hover {
    background: transparent;
    color: #000;
    transform: scale(1.50, 1.50);
}


/*main content*/

#content {
    min-height: 500px;
    width: 75%;
    margin: 0px auto;
    box-shadow: 0px 0px 40px black;
    border-left: 1px solid #bb77bb;
    border-right: 1px solid #bb77bb;
    background: rgb(255, 255, 255, 0.7);
    padding-top: 120px;
}


/*Footer*/

footer {
    width: 75%;
    margin: 0px auto;
    padding-top: 15px;
    color: rgba(0, 0, 0, 0.705);
}


/*About*/

#title {
    width: 70%;
    margin: 0px auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

#title h1 {
    font-family: "finger";
    font-size: 60px;
    border-bottom: 1px solid rgb(201, 36, 36);
    padding-bottom: 5px;
}

#title h2 {
    font-size: 25px;
    color: rgba(128, 128, 128, 0.911);
    margin-top: 5px;
    margin-bottom: 5px;
}

article.about {
    width: 70%;
    margin: 0px auto;
    margin-bottom: 20px;
    font-size: 23px;
}

.about h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.about p {
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: justify;
}


/*
Sección con formulario
*/

.container {
    padding: 50px;
    padding-top: 10px;
}

.container h2 {
    display: block;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

form {
    width: 80%;
}

form label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea {
    width: 40%;
    padding: 5px;
}

form button,
form input[type="submit"] {
    display: block;
    font-size: 17px;
    padding: 10px;
    margin-top: 15px;
    color: rgba(255, 255, 255, 1);
    background: rgba(73, 129, 197, 1);
    border: 1px solid rgba(13, 67, 133, 1);
    cursor: pointer;
}

form button:hover,
form input[type="submit"]:hover {
    background: rgb(228, 56, 26);
    border: 1px solid rgb(133, 41, 13);
    cursor: pointer;
}

form input[disabled] {
    opacity: 0.3;
    cursor: not-allowed;
}

.form_error {
    font-size: 13px;
    padding: 3px;
    background: rgb(221, 42, 42);
    color: rgba(255, 255, 255, 1);
    margin-left: 5px;
}

.message {
    widht: 50%;
    padding: 5px;
    border: 1px solid #eeeeee;
}

.success {
    background: rgb(147, 199, 69);
    color: rgb(216, 197, 197);
}

.message a {
    color: white;
}

.failed {
    background: rgb(202, 57, 57);
    color: white;
}