<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{web}}</p>
</div>

<article class="about">
    <h2>Sobre Mi</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempus id eros non dapibus. Aenean molestie sed nisl nec porta. Morbi vestibulum non massa at gravida. Integer viverra luctus felis sed commodo. Curabitur nec auctor turpis. Maecenas varius
        tortor velit. Vestibulum lobortis ex ac mi auctor rutrum vitae quis tortor. Donec ac felis sagittis, ultrices velit ac, vulputate ex. Phasellus semper sit amet nunc ac cursus. Ut ornare tellus tempor mi tristique rutrum. Proin tempor quis est
        et mollis. In at arcu ut ipsum dictum pulvinar id tempor libero. Vestibulum rhoncus, massa nec luctus vehicula, velit metus dictum metus, dignissim eleifend lacus ligula vitae risus. Nulla facilisi. Cras rhoncus enim eget purus eleifend cursus.
    </p>
</article>